@model IEnumerable<PupuseriaSalvadorena.Models.DeclaracionImpuesto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaJuridica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotalIngresos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotalEgresos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotalImpuestos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaJuridica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotalIngresos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotalEgresos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotalImpuestos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDeclaracionImpuesto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDeclaracionImpuesto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDeclaracionImpuesto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
