@using System.Globalization;

@model IEnumerable<PupuseriaSalvadorena.Models.FacturaVenta>

@{
    ViewData["Title"] = "Historial de Ventas";
}

@{
    <link href="~/css/transacciones.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/historialventa.js" asp-append-version="true"></script>
}

<div class="card-body table-body-custom pb-4">
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0">
                <img src="~/images/historial.png" alt="Icono Historial de Facturas" style="height: 60px;" />
                Historial de Ventas
            </h1>
        </div>
    </div>
    <div class="container mt-4">
        Historial de facturas sobre las ventas realizadas.
    </div>
</div>
<div class="card-body table-body-custom">
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h4>Facturas Enviadas:</h4>
        <input type="text" class="form-control" id="busqueda" placeholder="Filtrar" />
    </div>
    <table class="table table-hover mt-4 table-sm" id="tablaHistorial">
        <thead>
            <tr>
                <th>
                    Numero
                </th>
                <th id="Fecha">
                    Fecha
                </th>
                <th>
                    Subtotal
                </th>
                <th>
                    Total
                </th>
                <th>
                    Tipo de Pago
                </th>
                <th>
                    Estado
                </th>
                <th id="acciones">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Convert.ToInt32(Math.Floor(item.Consecutivo))
                    </td>
                    <td>
                        @item.FechaFactura.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.SubTotal.ToString("C", new CultureInfo("es-CR"))
                    </td>
                    <td>
                        @item.TotalVenta.ToString("C", new CultureInfo("es-CR"))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombrePago)
                    </td>
                    <td>
                        @(item.Estado ? "Vigente" : "Anulada")
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary print-FacturaVenta nav-link-btn-icons" id="BtnImprimir" data-id="@item.IdFacturaVenta" title="Imprimir" data-toggle="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                                <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1" />
                                <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1" />
                            </svg>
                        </button>
                        <button type="button" class="btn btn-primary details-FacturaVenta nav-link-btn-icons" id="BtnDetalles" title="Detalles" data-toggle="tooltip" onclick="location.href='@Url.Action("Details", "FacturaVentas", new { id = item.IdFacturaVenta })'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="pagination" class="pagination justify-content-center align-content-end pb-4">
        <button class="btn btn-primary anterior" onclick="changePage(-1)"><i class="fas fa-angle-left"></i></button>
        <span id="pageIndicator">1</span>
        <button class="btn btn-primary siguiente" onclick="changePage(1)"><i class="fas fa-angle-right"></i></button>
    </div>
</div>