@using System.Globalization;

@model IEnumerable<PupuseriaSalvadorena.Models.DetalleCuenta>

@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <script src="~/js/detallecuenta.js" asp-append-version="true"></script>
}

<div class="card-body table-body-custom pb-4">
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0">
                <img src="~/images/facturacompra.png" alt="Icono Factura de Compra" style="height: 60px;" />
                Cuenta: @ViewBag.IdCuentaPagar
            </h1>
            <button type="button" class="btn btn-primary nav-link-icon add-Pago" id="AddDetalleCuenta" data-idCuenta="@ViewBag.IdCuentaPagar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                </svg> Realizar Pago
            </button>
        </div>
    </div>
    <div class="container">
        Realiza el pago de tu cuenta por pagar, consulta el historial de pagos realizados, y verifica el estado de la cuenta.
    </div>
</div>
<div class="card-body card-body-custom">
    <div class="row no-gutters">
        <div class="col text-center item" style="background-color: @(ViewBag.VencimientoExpirado ? "#FFE1E1" : "#CAF7E3")">
            <strong class="item-value">Fecha de Vencimiento</strong>
            <div class="text-note">@ViewBag.FechaVencimiento</div>
        </div>
        <div class="col text-center item">
            <strong class="item-value">Total</strong>
            <div class="text-note">₡@ViewBag.Total</div>
        </div>
        <div class="col text-center item">
            <strong class="item-value">Pagado</strong>
            <div class="text-note">₡@ViewBag.Pago</div>
        </div>
        <div class="col text-center item" style="background-color: @(ViewBag.PorPagarEsCero ? "#CAF7E3" : "#FFE1E1")">
            <strong class="item-value">A Pagar</strong>
            <div class="text-note">₡@ViewBag.PorPagar</div>
        </div>
    </div>
</div>
<div class="card-body table-body-custom">
    @if (Model.Count() > 0)
    {
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Pago Efectuado
                    </th>
                    <th>
                        Fecha del Pago
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdDetallesCuenta)
                        </td>
                        <td>
                            @item.Pago.ToString("C", new CultureInfo("es-CR"))
                        </td>
                        <td>
                            @item.FechaIngreso.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary edit-DetalleCuenta nav-link-btn-icons" id="BtnEditar" data-id="@item.IdDetallesCuenta">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                </svg>
                            </button>
                            <button type="button" class="btn btn-primary delete-DetalleCuenta nav-link-btn-icons" id="BtnEliminar" data-id="@item.IdDetallesCuenta">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="d-flex mt-4" style="width: 500vh;">
            <h5>No se ha realizado ningun pago.</h5>
        </div>
    }
</div>

<div class="modal fade" id="newDetalleCuentaModal" tabindex="-1" role="dialog" aria-labelledby="newDetalleCuentaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newDetalleCuentaModalLabel">Nuevo Pago</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_newDetalleCuentaPartial", new PupuseriaSalvadorena.Models.DetalleCuenta())
            </div>
        </div>
    </div>
</div>
