@model IEnumerable<PupuseriaSalvadorena.Models.DetalleCuenta>

@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <script src="~/js/detallecuenta.js" asp-append-version="true"></script>
}

<h1>Index</h1>

<div class="container mt-4 text-right">
    <button type="button" class="btn btn-primary mt-3" id="AddDetalleCuenta">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg>
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCuentaPagar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCuentaPagar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetallesCuenta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetallesCuenta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetallesCuenta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="newDetalleCuentaModal" tabindex="-1" role="dialog" aria-labelledby="newDetalleCuentaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newDetalleCuentaModalLabel">Nueva Cuenta por Pagar</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_newDetalleCuentaPartial", new PupuseriaSalvadorena.Models.DetalleCuenta())
            </div>
        </div>
    </div>
</div>
