@model IEnumerable<PupuseriaSalvadorena.Models.AlertaCuentaPagar>

@{
    ViewData["Title"] = "Index";
}

<div class="card-body table-body-custom pb-4">
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0">
                <img src="~/images/alertas.png" alt="Icono de Alertas de Cuentas por Pagar" style="height: 60px;" />
                Alertas de Cuentas por Pagar
            </h1>
            <button type="button" class="btn btn-primary nav-link-icon agregar-boton" id="AddMateriaPrima">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                </svg> Borrar Notificaciones Leidas
            </button>
        </div>
    </div>
    <div class="container mt-4">
        Alerta de expiracion sobre las cuentas por pagar.
    </div>
</div>
<div class="card-body mat-2 table-body-custom">
    <table class="table table-hover mt-2">
        <thead>
            <tr>
                <th>
                    Mensaje
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Cuenta por Pagar
                </th>
                <th>
                    Visto
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mensaje)
                    </td>
                    <td>
                        @item.FechaMensaje.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCuentaPagar)
                    </td>
                    <td>
                        @(item.Leido ? "Leida" : "No Leida")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="newAlertaModal" tabindex="-1" role="dialog" aria-labelledby="newAlertaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newAlertaModalLabel">Nueva Alerta</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_newAlertaCuentaPagarPartial", new PupuseriaSalvadorena.Models.AlertaCuentaPagar())
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editAlertaModal" tabindex="-1" role="dialog" aria-labelledby="editAlertaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAlertaModalLabel">Editar Alerta</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_editAlertaCuentaPagarPartial", new PupuseriaSalvadorena.Models.AlertaCuentaPagar())
            </div>
        </div>
    </div>
</div>