@model IEnumerable<PupuseriaSalvadorena.Models.AlertaCuentaPagar>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mb-0">
            <img src="~/images/facturacompra.png" alt="Icono Factura de Compra" style="height: 60px;" />
            Alertas de Cuentas por Pagar
        </h1>
        <button type="button" class="btn btn-primary nav-link-icon" id="AddAlerta">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
            </svg> Nueva Alerta
        </button>
    </div>
</div>
<div class="container mt-4">
    Registro de las compras de materia prima para la elaboracion de los platillos.
</div>
<table class="table table-hover mt-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mensaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaMensaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCuentaPagar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mensaje)
            </td>
            <td>
                @item.FechaMensaje.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCuentaPagar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leido)
            </td>
            <td>
                <button type="button" class="btn btn-primary edit-Alerta nav-link-btn-icons" id="BtnEditar" data-id="@item.IdAlerta">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                    </svg>
                </button>
                    <button type="button" class="btn btn-primary delete-Alerta nav-link-btn-icons" id="BtnEliminar" data-id="@item.IdAlerta">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                    </svg>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="modal fade" id="newAlertaModal" tabindex="-1" role="dialog" aria-labelledby="newAlertaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newAlertaModalLabel">Nueva Alerta</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_newAlertaCuentaPagarPartial", new PupuseriaSalvadorena.Models.AlertaCuentaPagar())
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editAlertaModal" tabindex="-1" role="dialog" aria-labelledby="editAlertaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAlertaModalLabel">Editar Alerta</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_editAlertaCuentaPagarPartial", new PupuseriaSalvadorena.Models.AlertaCuentaPagar())
            </div>
        </div>
    </div>
</div>