@{
    ViewData["Title"] = "Pagina de Inicio";
}

@section Scripts {
    <script src="~/js/facturacompra.js" asp-append-version="true"></script>
    <script src="~/js/facturaventa.js" asp-append-version="true"></script>
    <script src="~/js/inicio.js" asp-append-version="true"></script>
}

<div class="card-body table-body-custom pb-4">
    <div class="container mt-4">
        <h3 class="mb-0">
            <img src="~/Images/Logo3.png" alt="Icono Pronosticos" style="height: 80px;" />
            Acciones Rapidas
        </h3>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div type="button" class="CartasAcciones" id="AddFacturaVenta" style="background-color: white !important; border: 1px solid #ddd;">
                <h4 style="text-align: left !important;">Nueva Venta</h4>
                <div class="go-corner" href="#">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div type="button" class="CartasAcciones" id="AddFacturaC" style="background-color: white !important; border: 1px solid #ddd;">
                <h4 style="text-align: left !important;">Nueva Compra</h4>
                <div class="go-corner" href="#">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="CartasAcciones" style="background-color: white !important; border: 1px solid #ddd;">
                <h4 style="text-align: left !important;">Nueva Transaccion</h4>
                <div class="go-corner" href="#">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="CartasAcciones" onclick="location.href='@Url.Action("Create", "FacturaVentas")'">
                <h4 style="text-align: left !important;">Pronosticos</h4>
                <div class="go-corner" href="#">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="CartasAcciones" onclick="location.href='@Url.Action("Create", "FacturaCompras")'">
                <h4 style="text-align: left !important;">Presupuestos</h4>
                <div class="go-corner" href="#">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="CartasAcciones" onclick="location.href='@Url.Action("Create", "DetallesTransacciones")'">
                <h4 style="text-align: left !important;">Cuentas por Pagar</h4>
                <div class="go-corner" href="#">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body table-body-custom pb-5">
    <div class="row mt-3 mb-3">
        <div class="col-md-7">
            <div class="card-body table-body-custom">
                <h5 class="mt-4">Transacciones</h5>
                <small class="mb-3">Ultimos 3 meses</small>
                <canvas id="TransaccionesChart"></canvas>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card-body table-body-custom">
                <h5 class="mt-4">Ventas</h5>
                <small class="mb-3">Ultimas 4 semanas</small>
                <canvas id="VentasChart"></canvas>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-7">
            <div class="card-body table-body-custom">
                <h5 class="mt-4 mb-3">Pronostico mas reciente</h5>
                <canvas id="PronosticosChart"></canvas>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card-body table-body-custom">
                <h5 class="mt-4">Compras de Materia Prima</h5>
                <small class="mb-3">Ultimas 4 semanas</small>
                <canvas id="ComprasChart"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newFacturaVentaModal" tabindex="-1" role="dialog" aria-labelledby="newFacturaVentaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newFacturaVentaLabel">Nueva Factura</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/FacturaVentas/_newFacturaVentaPartial.cshtml", new PupuseriaSalvadorena.Models.FacturaVenta())
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newFacturaCModal" tabindex="-1" role="dialog" aria-labelledby="newFacturaCModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newFacturaCModalLabel">Nueva Compra</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/FacturaCompras/_newFacturaCPartial.cshtml", new PupuseriaSalvadorena.Models.FacturaCompra())
            </div>
        </div>
    </div>
</div>

<script>
    var ingresos = @Html.Raw(ViewBag.Ingresos);
    var egresos = @Html.Raw(ViewBag.Egresos);
    var ventas = @Html.Raw(ViewBag.Ventas);
    var compras = @Html.Raw(ViewBag.Compras);
    var pronosticos = @Html.Raw(ViewBag.Pronosticos);
</script>