@model PupuseriaSalvadorena.Models.DetalleTransaccion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetalleTransaccion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionTransaccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionTransaccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTrans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTrans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdImpuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdImpuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreImpuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreImpuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTransac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoTransac)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
