@using System.Globalization;

@model IEnumerable<PupuseriaSalvadorena.Models.DetalleTransaccion>

@{
    ViewData["Title"] = "Transacciones";
}

@{
    <link href="~/css/transacciones.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/transacciones.js" asp-append-version="true"></script>
    <script src="~/js/detallestransacciones.js" asp-append-version="true"></script>
}

<div class="card-body table-body-custom pb-4">
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0">
                <img src="~/images/transaccion.png" alt="Icono de Transacciones" style="height: 60px;" />
                Transacciones
            </h1>
            <button type="button" class="btn btn-primary nav-link-icon agregar-boton" id="AddTransaccion">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                </svg> Nueva Transaccion
            </button>
        </div>
    </div>
    <div class="container mt-4">
        Realiza el registro y administra las transacciones de los libros contables, programa transacciones futuras y consulta el historial de transacciones.
    </div>
    <hr>
    <div class="container mt-2">
        <div id="Titulo">
            <h4 class="mt-1 mb-3">Ingresos y Egresos</h4>
            <canvas id="IngresosEgresosChart"></canvas>
        </div>
        <hr />
        <div class="card-body table-body-custom" id="DisplayCampo" style="height: auto; margin-top: 0 !important; margin-bottom: 0 !important">
            <div class="d-flex justify-content-between align-items-center" id="DisplayInfo" style="text-align:center">
                <div class="card-body justify-content-center item">
                    <strong>Libro actual</strong>
                    <p class="mt-2 mb-0">@ViewBag.Libro</p>
                </div>
                <div class="card-body justify-content-center item">
                    <strong>Ingresos de @ViewBag.Mes</strong>
                    <p class="mt-2 mb-0">@ViewBag.IngresosActuales.ToString("C", new CultureInfo("es-CR"))</p>
                </div>
                <div class="card-body justify-content-center item">
                    <strong>Egresos de @ViewBag.Mes</strong>
                    <p class="mt-2 mb-0">@ViewBag.EgresosActuales.ToString("C", new CultureInfo("es-CR"))</p>
                </div>
                <div class="card-body justify-content-center item">
                    <strong>Total</strong>
                    <p class="mt-2 mb-0">@ViewBag.MontoTotal.ToString("C", new CultureInfo("es-CR"))</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body table-body-custom">
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h4>Libro Actual:</h4>
        <input type="text" class="form-control" id="busqueda" placeholder="Filtrar" />
    </div>
    <table class="table table-sm table-hover mt-4" id="tablaTransacciones">
        <thead>
            <tr>
                <th>
                    Descripcion
                </th>
                <th>
                    Cant.
                </th>
                <th>
                    Monto
                </th>
                <th id="Fecha">
                    Fecha
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Impuesto
                </th>
                <th>
                    Recurrente
                </th>
                <th id="acciones">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescripcionTransaccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @(item.Monto.ToString("C", new CultureInfo("es-CR")))
                    </td>
                    <td>
                        @item.FechaTrans.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoTransac)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreImpuesto)
                    </td>
                    <td>
                        @(item.Recurrencia ? "Recurrente" : "No Recurrente")
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary edit-transaccion nav-link-btn-icons" id="BtnEditar" data-id="@item.IdTransaccion" title="Editar" data-toggle="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </button>
                        <button type="button" class="btn btn-danger delete-transaccion  nav-link-btn-icons" id="BtnEliminar" data-id="@item.IdTransaccion" title="Eliminar" data-toggle="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </button>
                    </td> 
                </tr>
            }
        </tbody>
    </table>
    <div id="pagination" class="pagination justify-content-center align-content-end pb-4">
        <button class="btn btn-primary anterior" onclick="changePage(-1)"><i class="fas fa-angle-left"></i></button>
        <span id="pageIndicator">1</span>
        <button class="btn btn-primary siguiente" onclick="changePage(1)"><i class="fas fa-angle-right"></i></button>
    </div>
</div>
<div class="modal fade" id="newDetallesTModal" tabindex="-1" role="dialog" aria-labelledby="newDetallesTModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newDetallesTModalLabel">Nueva Transacción</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_newDetallesTPartial", new PupuseriaSalvadorena.Models.DetalleTransaccion())
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editDetallesTModal" tabindex="-1" role="dialog" aria-labelledby="editDetallesTModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDetallesTModalLabel">Editar Transacción</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_editDetallesTPartial", new PupuseriaSalvadorena.Models.DetalleTransaccion())
            </div>
        </div>
    </div>
</div>

<script>
    var ingresos = @Html.Raw(ViewBag.Ingresos);
    var egresos = @Html.Raw(ViewBag.Egresos);
</script>
