@model PupuseriaSalvadorena.Models.ConciliacionBancaria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConciliacionBancaria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaConciliacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaConciliacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoBancario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoBancario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoLibro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoLibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRegistroLibros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRegistroLibros)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdConciliacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
