@using System.Globalization;

@model IEnumerable<PupuseriaSalvadorena.Models.ConciliacionBancaria>

@{
    ViewData["Title"] = "Conciliacion Bancaria";
}

@section Scripts {
    <script src="~/js/conciliaciones.js" asp-append-version="true"></script>
}

<div class="card-body table-body-custom pb-4">
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0">
                <img src="~/images/conciliacion.png" alt="Icono Conciliacion Bancaria" style="height: 60px;" />
                Conciliacion Bancaria
            </h1>
            <button type="button" class="btn btn-primary nav-link-icon agregar-boton" id="AddConciliacion">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                </svg> Nueva Conciliacion
            </button>
        </div>
    </div>
    <div class="container mt-4">
        Realiza la conciliacion bancaria de los libros contables contra el saldo en las cuentas bancarias.
    </div>
</div>
<div class="card-body pt-4 pb-3 table-body-custom">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Saldo en Cuenta
                </th>
                <th>
                    Saldo en Libro
                </th>
                <th>
                    Diferencia
                </th>
                <th>
                    Observaciones
                </th>
                <th>
                    Cuenta Bancaria
                </th>
                <th>
                    Libro Contable
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @item.FechaConciliacion.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.SaldoBancario.ToString("C", new CultureInfo("es-CR"))
                    </td>
                    <td>
                        @item.SaldoLibro.ToString("C", new CultureInfo("es-CR"))
                    </td>
                    <td>
                        @item.Diferencia.ToString("C", new CultureInfo("es-CR"))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observaciones)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroCuenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary details-Conciliacion nav-link-btn-icons" id="BtnDetalles" onclick="location.href='@Url.Action("Details", new { id = item.IdConciliacion })'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                            </svg>
                        </button>
                        <button type="button" class="btn btn-primary delete-Conciliacion nav-link-btn-icons" id="BtnEliminar" data-id="@item.IdConciliacion">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="newConciliacionModal" tabindex="-1" role="dialog" aria-labelledby="newConciliacionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newConciliacionModalLabel">Nuevo Estado Bancario</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_newConciliacionPartial", new PupuseriaSalvadorena.Models.ConciliacionBancaria())
            </div>
        </div>
    </div>
</div>