@model PupuseriaSalvadorena.Models.Negocio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Negocio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTelefono)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CedulaJuridica">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
