@using System.Globalization;

@model PupuseriaSalvadorena.ViewModels.DetalleFactura

@{
    ViewData["Title"] = $"{Model.FacturaVenta.Consecutivo}";
}

<div class="card-body table-body-custom pb-4">
    <div class="container mt-4">
        <div class="row mb-5">
            <div class="col-md-4">
                <img src="~/images/logo2.png" alt="Icono Logo" style="height: 90px;" />
            </div>
            <div class="col-md-4 text-center">
                <strong>@Model.Negocio.NombreEmpresa</strong>
                <br style="display: none;" />
                <p class="mb-0">@Model.Negocio.CedulaJuridica</p>
                <br style="display: none;" />
                <p class="mb-0">@Model.Negocio.Detalles</p>
                <br style="display: none;" />
                <p class="mb-0">@Model.Negocio.Telefono</p>
            </div>
            <div class="col-md-4 text-right">
                <strong>Factura de Venta</strong>
                <br style="display: none;" />
                <p class="mb-0">No. @Model.FacturaVenta.Consecutivo</p>
                <br style="display: none;" />
                <p class="mb-0">Regimen Simplificado</p>
                <br style="display: none;" />
                <p class="mb-0"><strong>Fecha: </strong>@Model.FacturaVenta.FechaFactura.ToString("dd/MM/yyyy")</p>
                <br style="display: none;" />
                <p class="mb-0">@(Model.FacturaVenta.Estado ? "Vigente" : "Anulada")</p>
            </div>
        </div>
        <div class="mb-4">
            <table>
                <tr>
                    <th>Cliente:</th>
                    <td><p class="mb-0" style="padding-left: 1rem;">@Model.EnvioFactura.NombreCliente</p></td>
                </tr>
                <tr>
                    <th>Identificacion:</th>
                    <td><p class="mb-0" style="padding-left: 1rem;">@Model.EnvioFactura.Identificacion</p></td>
                </tr>
                <tr>
                    <th>Telefono:</th>
                    <td><p class="mb-0" style="padding-left: 1rem;">@Model.EnvioFactura.Telefono</p></td>
                </tr>
                <tr>
                    <th>Correo Electronico:</th>
                    <td><p class="mb-0" style="padding-left: 1rem;">@Model.EnvioFactura.CorreoElectronico</p></td>
                </tr>
            </table>
        </div>
        <div>
            <table class="table table-hover mt-4 table-sm">
                <thead>
                    <tr>
                        <th>
                            Producto
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Precio Unitario
                        </th>
                        <th>
                            Subtotal
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DetallesF) {
                        <tr>
                            <td>
                                @item.NombrePlatillo
                            </td>
                            <td>
                                @item.CantVenta
                            </td>
                            <td>
                                @item.PrecioVenta.ToString("C", new CultureInfo("es-CR"))
                            </td>
                            <td>
                                @item.PrecioSubtotal.ToString("C", new CultureInfo("es-CR"))
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <p><strong>Metodo de Pago: </strong>@Model.FacturaVenta.NombrePago</p>
            </div>
            <div class="col-md-6 text-right">
                <p><strong>Subtotal: </strong>@Model.FacturaVenta.SubTotal.ToString("C", new CultureInfo("es-CR"))</p>
                <p><strong>IVA (13.00%): </strong>@ViewBag.Impuesto.ToString("C", new CultureInfo("es-CR"))</p>
                <p><strong>Total:  </strong>@Model.FacturaVenta.TotalVenta.ToString("C", new CultureInfo("es-CR"))</p>
            </div>
        </div>
    </div>
</div>
