@model PupuseriaSalvadorena.Models.FacturaVenta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FacturaVenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaJuridica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaJuridica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consecutivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consecutivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoFactura)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFacturaVenta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
